* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --clr-blue-100: #E6EAEB;
    --clr-blue-200: #C3D7DC;
    --clr-blue-300: #8CB4B9;
    --clr-blue-400: #28505D;
    --clr-blue-500: #1A293A;
}

header {
    background: var(--clr-blue-100);
    padding: 1em;
}

article {
    background: var(--clr-blue-200);
    padding: 1em;
}

article p {
    padding-block: 1em;
}

nav {
    color: var(--clr-blue-100);
    background: var(--clr-blue-400);
    padding: 1em;
}

aside {
    background: var(--clr-blue-300);
    padding: 1em;
}

footer {
    color: var(--clr-blue-100);
    background: var(--clr-blue-500);
    padding: 1em;
}